/* 顶部搜索栏开始 */
.search {
    height: 78px;
    /* background-color: pink; */
}

.search img {
    float: left;
    margin-top: calc(39px - 18.5px)
}

.search .in-search {
    float: left;
    width: 298px;
    height: 34px;
    /* background-color: pink; */
    border: 1px solid #ccc;
    margin-top: calc(39px - 17px);
    margin-left: 42px;
}

.search .in-search span {
    float: left;
    width: 14px;
    height: 34px;
}

.search .in-search input {
    float: left;
    width: 260px;
    height: 34px;
    font-size: 13px;
    /* background-color: pink; */
    border: 0;
}

.search .in-search .iconfont {
    float: left;
    width: 22px;
    font-size: 22px;
    color: #858585;
    margin-top: calc(17px - 11px);
}

.search .in-search .iconfont:hover {
    color: #73b6ef;
}

.search .search-right {
    float: left;
    height: 24px;
    margin-top: calc(39px - 12px);
    margin-left: 119px;
}

.search .search-right li {
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    margin: 0 15px;
    margin-top: calc(12px - 6.5px);
}

.search .search-right li a {
    color: #777;
}

.search .search-right li a:hover {
    color: #009af3;
}

.search .search-right .xian {
    height: 24px;
    border-right: 1px solid #e6e6e6;
    margin-top: 0;
}

.search .enter {
    float: left;
    width: 50px;
    height: 30px;
    font-size: 13px;
    background-color: #169af3;
    border-radius: 3px;
    margin-left: 15px;
    margin-top: calc(39px - 15px);
}

.search .enter:hover {
    background-color: #158fe1;
}

.search .enter span {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: calc(15px - 6.5px);
}

/* 顶部搜索栏结束 */

/* 导航栏开始 */
.navigation {
    height: 55px;
    background-color: #2c323b;
}

.navigation .nav-left {
    float: left;
}

.navigation .nav-left span {
    float: left;
    color: #ddd;
    font-size: 16px;
    line-height: 55px;
    padding: 0 30px;
}

.navigation .nav-left .more {
    float: left;
    color: #ddd;
    font-size: 16px;
    line-height: 55px;
    padding: 0 30px;
}

.navigation .nav-left .more a {
    color: #ddd;
}

.navigation .nav-left .page {
    background-color: #0c8ed9;
}

.navigation .nav-left a:nth-child(1) span {
    color: #fff;
}

.navigation .nav-left span:hover {
    background-color: #0c8ed9;
}

.navigation .nav-left .more:hover {
    background-color: #0c8ed9;
}

.navigation .nav-left a:hover span {
    color: #fff;
}

.navigation .nav-left .more:hover .this-more {
    color: #fff;
}

.navigation .nav-left .more {
    position: relative;
}

.navigation .nav-left .more {
    padding-left: 30px;
    padding-right: 50px;
}

.navigation .nav-left .more img {
    position: absolute;
    top: 25px;
    right: 27px;
}

.navigation .nav-left .more .more-ssj {
    display: none;
    position: absolute;
    top: 25px;
    right: 27px;
}

.navigation .nav-left .more:hover .more-ssj {
    display: block;
}

.navigation .nav-left .more:hover .more-xsj {
    display: none;
}

.navigation .nav-left .more ul {
    display: none;
    position: absolute;
    top: 55px;
    left: 0px;
    width: 113px;
    height: 148px;
    background-color: #252b34;
    z-index: 1;
}

.navigation .nav-left .more:hover ul {
    display: block;
}

.navigation .nav-left ul li {
    width: 100%;
    height: 37px;
}

.navigation .nav-left ul a {
    display: block;
    width: 112px;
    height: 37px;
    color: #bbb;
    font-size: 15px;
    text-align: center;
    line-height: 37px;
}

.navigation .nav-left ul a:hover {
    color: #fff;
    background-color: #2d343d;
}

.navigation .nav-right {
    float: right;
}

.navigation .nav-right a {
    float: left;
    color: #bbbbbb;
    font-size: 13px;
    line-height: 55px;
    margin: 0 15.5px;
}

.navigation .nav-right a:hover {
    color: #14a9ff;
}

.navigation .nav-right .iconfont {
    font-size: 13px;
    padding-right: 7px;
}

/* 导航栏结束 */

/* 轮播图开始 */
.rotation {
    position: relative;
}

.rotation .big-bgc {
    display: block;
    width: 100%;
    height: 445px;
    background-image: url(../images/rotation2.jpg);
    background-position: center;
    overflow: hidden;
}

.rotation ul {
    position: absolute;
    left: calc((1519.2px - 208px) / 2);
    bottom: 82px;
    height: 10px;
}

.rotation ul li {
    float: left;
    position: relative;
    width: 6px;
    height: 6px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 10px;
}

.rotation ul li:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.rotation .download {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    background: rgba(0, 0, 0, .3);
    /* filter: blur(4px); */
}

.rotation .download .download-word {
    float: left;
    height: 60px;
    margin-left: calc((1519.2px - 664.68px) / 2);
}

.rotation .download-word a {
    float: left;
    height: 25.6px;
    margin-top: calc((60px - 25.6px) / 2);
}

.rotation .download-word a span {
    line-height: 25.6px;
    padding-left: 21px;
}

.rotation .download-word .xian {
    float: left;
    font-size: 20px;
    color: #7aa5a9;
    margin-top: calc((60px - 25px) / 2);
}

.rotation .download-word i {
    color: #dde6e7;
    font-size: 24px;
    line-height: 25.6px;
    /* vertical-align: middle; */
}

.rotation .download-word span {
    color: #fff;
    font-size: 15px;
}

.rotation .download-word a:nth-last-child(-n+3) {
    margin-left: 57px;
}

.rotation .download-word a:nth-child(3) {
    margin-right: 63px;
}

.rotation .download-word a:nth-child(1) {
    margin-right: 78px;
}

.rotation .download-word a:hover span {
    color: #ffffdf;
}

.rotation .download-word a:hover i {
    color: #dfe7ce;
}

/* 轮播图结束 */

/* 精选歌单开始 */
.song-one-medal {
    margin-top: 41px;
}

.song-one-medal-left {
    float: left;
}

.song-one-medal .song-one-medal-left .song-one {
    width: 649px;
    height: 27px;
    line-height: 27px;
}

.song-one-medal-left .song-one span {
    float: left;
    font-size: 24px;
}

.song-one-medal-left .song-one i {
    color: #009af4;
}

.song-one-medal-left .song-one a {
    float: right;
    font-size: 13px;
    color: #999;
}

.song-one-medal-left .song-one a:hover {
    color: #009af3;
}

.song-one-medal-left .song-one-under {
    width: 655px;
    height: 325px;
    margin-top: 32px;
}

.song-one-under a {
    display: block;
    position: relative;
    float: left;
    width: 160px;
    height: 160px;
}

.song-one-under .other {
    margin-bottom: 5px;
    margin-left: 5px;
}

.song-one-under .first-one {
    display: block;
    position: relative;
    width: 325px;
    height: 100%;
}

.song-one-under .first-one img {
    width: 325px;
    height: 100%;
}

.song-one-under a p {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .3);
}

.song-one-under a p span,
.song-one-under a p i {
    float: right;
    color: #fff;
}

.song-one-under a i {
    font-size: 13px;
    color: #fff;
    padding-right: 10px;
}

.song-one-under a div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

.song-one-under a div del {
    display: block;
    font-size: 14px;
    margin: 8px 10px;
}

.song-one-under a div del:nth-child(2) {
    color: #cfcfcf;
}

.song-one-medal-left .song-one-under a::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.song-one-medal-left .song-one-under a:hover::after {
    display: block;
}

.song-one-medal-left .song-one-under .first-one::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.song-one-medal-left .song-one-under .first-.first-one:hover::after {
    display: block;
}

.song-one-under a img {
    width: 160px;
    height: 160px;
}

/* .song-one-under a u {
    position: absolute;
    bottom: 1px;
    right: 8px;
    opacity: 0.5;
    color: #3c3c3c;
    font-size: 38px;
    border: 1px solid #fff;
} */

.song-one-medal .song-one-medal-right {
    float: left;
    width: 320px;
    height: 384px;
    margin-left: 25px;
}

.song-one-medal .song-one-medal-right .medal {
    width: 100%;
    height: 27px;
    line-height: 27px;
}

.song-one-medal-right .medal span {
    float: left;
    font-size: 24px;
}

.song-one-medal-right .medal i {
    color: #009af4;
}

.song-one-medal-right .medal a {
    float: right;
    font-size: 13px;
    color: #999;
}

.song-one-medal-right .medal a:hover {
    color: #009af3;
}

.song-one-medal-right .medal-under {
    margin-top: 32px;
}

.song-one-medal-right .more {
    display: block;
    position: relative;
    width: 320px;
    height: 98px;
    font-size: 14px;
    background-color: #f6f6f6;
    margin-top: 15px;
    overflow: hidden;
}

.song-one-medal-right .more::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 98px;
    background-color: rgba(0, 0, 0, .3);
}

.song-one-medal-right .more:hover::after {
    display: block;
}

.song-one-medal-right .more img {
    float: left;
    width: 98px;
    height: 98px;
    margin-right: 10px;
}

.song-one-medal-right .more span {
    position: absolute;
    top: 39px;
    right: 13px;
    font-size: 20px;
    color: #d0d0d0;
}

.song-one-medal-right .more h3 {
    margin-top: 21px;
    margin-bottom: 11px;
}

.song-one-medal-right .more p:nth-child(3) {
    margin-bottom: 10px;
}

/* 精选歌单结束 */

/* 广告开始 */
.advert img {
    width: 1000px;
    height: 80px;
    margin-top: 15px;
}

/* 广告结束 */

/* 新歌首发开始 */
.new-song {
    height: 415px;
    margin-top: 40px;
}

.new-song .new-song-one {
    width: 649px;
    height: 29px;
    line-height: 29px;
}

.new-song-left {
    float: left;
}

.new-song-left .new-song-one span {
    float: left;
    font-size: 24px;
    margin-right: 32px;
}

.new-song-left .new-song-one i {
    color: #009af4;
}

.new-song-left .new-song-one a {
    font-size: 14px;
    margin-right: 24px;
}

.new-song-left .new-song-one a:nth-child(2) {
    color: #009af4;
}

.new-song-left .new-song-one a:hover {
    color: #009af4;
}

.new-song-one-under a span {
    float: right;
}

.new-song-one-under a:hover {
    color: #009af4;
    background-color: #f5f8fb;
}

.new-song-left .new-song-one .all {
    float: right;
    width: 89px;
    height: 29px;
    color: #555;
    font-size: 13px;
    text-align: center;
    border: 1px solid #dbdbdb;
    margin: 0;
}

.new-song-left .new-song-one .all:hover {
    color: #009af3;
    border-color: #009af3;
}

.new-song-one-under {
    width: 649px;
    height: 316px;
    border-top: 1px solid #f0f0f0;
    margin-top: 20px;
}

.new-song-one-under a {
    display: block;
    font-size: 13px;
    padding: 11px 0;
}

.new-song-one-under a:first-child {
    margin-top: 11px;
}

.new-song-one-under .song-page-number {
    color: #8d8d8d;
    text-align: center;
}

.new-song-one-under .song-page-number a {
    display: inline-block;
    height: 13.6px;
    color: #979797;
}

.new-song-one-under .song-page-number a:last-child {
    font-weight: 700;
}

.new-song-one-under .song-page-number a:hover {
    background-color: #fff;
    font-weight: 700;
}

.new-song-right {
    float: right;
    width: 320px;
    height: 358px;
}

.new-song-right .MV {
    height: 27px;
    line-height: 27px;
}

.new-song-right .MV span {
    float: left;
    font-size: 24px;
}

.new-song-right .MV i {
    color: #009af4;
}

.new-song-right .MV a {
    float: right;
    font-size: 13px;
    color: #999;
}

.new-song-right .MV a:hover {
    color: #009af3;
}

.new-song-right .MV-under {
    height: 310px;
    margin-top: 21px;
}

.MV-under .img-first {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 175px;
    background-image: url(../upload/new-song-right1.jpg);
    background-size: 320px 175px;
}

.MV-under .img-first div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 50px;
    background-color: rgba(0, 0, 0, .3);
}

.MV-under .img-first::after {
    content: '';
    display: none;
    width: 320px;
    height: 175px;
    background-color: rgba(0, 0, 0, .3);
}

.MV-under .img-first:hover::after {
    display: block;
}

.img-first div p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 3px;
}

.img-first div del {
    color: #cacaca;
    font-size: 14px;
    margin-left: 8px;
}

.MV-under .img-other {
    display: inline-block;
    position: relative;
    width: 154px;
    height: 123px;
    margin-top: 8px;
    margin-right: 8px;
}

.MV-under .img-other img {
    width: 154px;
    height: 84px;
}

.MV-under a:nth-child(3) {
    margin-right: 0;
}

.MV-under .img-other h5 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.MV-under .img-other span {
    display: inline-block;
    color: #888;
    margin-top: 3px;
}

.MV-under .img-other div {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 154px;
    height: 84px;
    background-color: rgba(0, 0, 0, .3);
}

.MV-under .img-other:hover div {
    display: block;
}

.MV-under .img-other:hover h5 {
    color: #009af3;
}

/* 新歌首发结束 */

/* 热门电台开始 */
.radio-station-medal {
    height: 352px;
    margin-top: 42px;
    margin-bottom: 1000px;
}

.radio-station-medal .radio-station-medal-left {
    float: left;
    width: 649px;
    height: 352px;
}

.radio-station-medal .radio-station-medal-left .radio-station {
    height: 27px;
    line-height: 27px;
}

.radio-station-medal-left .radio-station span {
    float: left;
    font-size: 24px;
}

.radio-station-medal-left .radio-station i {
    color: #009af4;
}

.radio-station-medal-left .radio-station a {
    float: right;
    font-size: 13px;
    color: #999;
}

.radio-station-medal-left .radio-station a:hover {
    color: #009af3;
}

.radio-station-medal-left .radio-station-up {
    height: 281px;
    margin-top: 31px;
}

.radio-station-up a {
    position: relative;
    float: left;
    width: 100px;
    height: 126px;
    text-align: center;
    margin-right: 37px;
    margin-bottom: 29px;
}

.radio-station-up a:nth-child(5),
.radio-station-up a:nth-child(10) {
    margin-right: 0;
}

.radio-station-up a img {
    width: 100px;
    height: 100px;
}

.radio-station-up a span {
    font-size: 14px;
    line-height: 26px;
}

.radio-station-up a div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, .2);
}

.radio-station-up a:hover div {
    display: block;
}

.radio-station-up a:hover span {
    color: #009af3;
}

.radio-station-medal-right {
    float: left;
    width: 318px;
    height: 352px;
    margin-left: 32px;
}

.radio-station-medal-right .singer {
    height: 27px;
    line-height: 27px;
}

.radio-station-medal-right .singer span {
    float: left;
    font-size: 24px;
}

.radio-station-medal-right .singer i {
    color: #009af4;
}

.radio-station-medal-right .singer a {
    font-size: 14px;
    color: #000;
    margin-left: 16px;
}

.radio-station-medal-right .singer a:nth-child(2) {
    color: #009af3;
    margin-left: 30px;
}

.radio-station-medal-right .singer a:last-child {
    color: #999;
}

.radio-station-medal-right .singer a:hover {
    color: #009af3;
}

.singer-up {
    width: 320px;
    height: 270px;
    margin-top: 31px;
}

.singer-up a {
    position: relative;
    float: left;
}

.singer-up a:first-child {
    width: 160px;
    height: 160px;
    background-image: url(../upload/singer1.jpg);
    background-size: 160px 160px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.singer-up a:nth-child(2) {
    width: 153px;
    height: 160px;
    background-image: url(../upload/singer2.jpg);
    background-size: 153px 160px;
    margin-bottom: 5px;
}

.singer-up a:nth-child(3) {
    width: 105px;
    height: 105px;
    background-image: url(../upload/singer3.jpg);
    background-size: 105px 105px;
    margin-right: 5px;
}

.singer-up a:nth-child(4) {
    width: 105px;
    height: 105px;
    background-image: url(../upload/singer4.jpg);
    background-size: 105px 105px;
    margin-right: 5px;
}

.singer-up a:nth-child(5) {
    width: 100px;
    height: 105px;
    background-image: url(../upload/singer5.jpg);
    background-size: 100px 105px;
}

.singer-up a span {
    position: absolute;
    left: 6px;
    bottom: 10px;
    color: #fff;
    font-size: 14px;
}

.singer-up a:first-child div {
    display: none;
    width: 160px;
    height: 160px;
    background-color: rgba(0, 0, 0, .3);
}

.singer-up a:first-child:hover div {
    display: block;
}

.singer-up a:nth-child(2) div {
    display: none;
    width: 153px;
    height: 160px;
    background-color: rgba(0, 0, 0, .3);
}

.singer-up a:nth-child(2):hover div {
    display: block;
}

.singer-up a:nth-child(3) div {
    display: none;
    width: 105px;
    height: 105px;
    background-color: rgba(0, 0, 0, .3);
}

.singer-up a:nth-child(3):hover div {
    display: block;
}

.singer-up a:nth-child(4) div {
    display: none;
    width: 105px;
    height: 105px;
    background-color: rgba(0, 0, 0, .3);
}

.singer-up a:nth-child(4):hover div {
    display: block;
}

.singer-up a:nth-child(5) div {
    display: none;
    width: 100px;
    height: 105px;
    background-color: rgba(0, 0, 0, .3);
}

.singer-up a:nth-child(5):hover div {
    display: block;
}