/* 版心 */
.container {
    /* position: relative; */
    width: 1180px;
    margin: 0 auto;
}

/* 顶部导航开始 */
.top-nav {
    height: 55px;
}

.top-nav img {
    float: left;
    width: 121px;
    height: 30px;
    margin-top: calc((55px - 30px) / 2);
}

.top-nav .top-nav-left {
    float: left;
    width: 110px;
    height: 55px;
    font-size: 16px;
    text-align: center;
    line-height: 55px;
}

.top-nav a:nth-child(2) {
    color: #fff;
    background-color: #169af3;
    margin-left: 11px;
}

.top-nav .top-nav-left:hover {
    color: #fff;
    background-color: #169af3;
}

.top-nav-right {
    float: right;
    width: 65px;
    height: 33px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 33px;
    background-color: #169af3;
    margin-top: calc((55px - 33px) / 2);
}

.top-nav-right:hover {
    color: #fff;
}

.top-nav a:nth-last-child(2) {
    margin-left: 12px;
    margin-right: 50px;
}

/* 顶部导航结束 */

/* 中心图片开始 */
.center-picture {
    position: relative;
    height: 790px;
}

.center-picture img {
    width: 100%;
    height: 790px;
}

.center-picture .school-recruit {
    display: inline-block;
    position: absolute;
    top: 552px;
    left: 50%;
    margin-left: -248px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 234, 55);
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    border-radius: 25px;
}

.center-picture .social-recruit {
    display: inline-block;
    position: absolute;
    top: 552px;
    left: 50%;
    margin-left: 48px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 234, 55);
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    border-radius: 25px;
}

.center-picture a:hover {
    background-color: #ffcf4e;
}

/* 中心图片结束 */

/* 底部导航开始 */
.bottom-nav {
    height: 121px;
    color: #999;
    font-size: 14px;
    background-color: #eee;
    text-align: center;
}

.bottom-nav a {
    display: inline-block;
    color: #999;
    font-size: 14px;
    margin-top: 21px;
}

.bottom-nav p:nth-last-child(2) {
    margin: 16px 0;
}

/* 底部导航结束 */